.container{
  width: 100%;
  min-height: 75vh;
  max-height: 75vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  background-color: white;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
}
.card_v{
  width: 20%;
  padding: 1rem;
  cursor:pointer;
  transition: 0.4s;
  overflow: auto;
}

.card_v:hover{
  width:20%;
  font-size: 20px;
  transition: 0.4s;
}

.card_v:hover img {
  width: 120px;
  height: 170px;
  transition: 0.4s;
}

.portada{
  width: 100px;
  height: 150px;
  transition: 0.4s;
}
